**Basic SQL Reminder Notes**

SELECT *

FROM *

WHERE *

"%" is wildcard for strings

"XOR" for one or other, but not both

ORDER BY [column name] asc/desc (asc/desc can be used after individual columns

ROUND works as we understand
--------

IN for lists Example:
-----
SELECT name FROM bbc
  WHERE name IN ('Sri Lanka', 'Ceylon',
                 'Persia',    'Iran')


**Multiple, indepnedent clauses are possible. Note the parentheses**

SELECT * FROM nobel

  WHERE subject IN ('physics')
  
  AND yr IN (1980)
  
  OR
  
  (subject IN ('chemistry')
  AND yr IN (1984))

ERD - Entity Relationship Diagram

In [2]:
%reload_ext sql
%sql sqlite:///test_capital_project.db

'Connected: @test_capital_project.db'

In [3]:
%%sql

DROP TABLE IF EXISTS balance_sheets;
DROP TABLE IF EXISTS business_units;
DROP TABLE IF EXISTS capital_buffers;
DROP TABLE IF EXISTS forecast_assumptions;

CREATE TABLE business_units (
    unit_id INTEGER PRIMARY KEY,
    unit_name TEXT NOT NULL
);

CREATE TABLE balance_sheets (
    entry_id INTERGER PRIMARY KEY,
    unit_id INTEGER NOT NULL,
    report_date DATE NOT NULL,
    assets FLOAT NOT NULL,
    liabilities FLOAT NOT NULL,
    FOREIGN KEY (unit_id) REFERENCES business_units(unit_id)
);

CREATE TABLE capital_buffers (
    buffer_id INTEGER PRIMARY KEY,
    unit_id INTEGER NOT NULL,
    min_capital_ratio FLOAT NOT NULL,
    FOREIGN KEY (unit_id) REFERENCES business_units(unit_id)
);

CREATE TABLE forecast_assumptions (
    assumption_id INTEGER PRIMARY KEY,
    scenario_name TEXT NOT NULL,
    asset_multiplier FLOAT NOT NULL,
    liab_multiplier FLOAT NOT NULL
);

 * sqlite:///test_capital_project.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [4]:
%%sql
INSERT INTO business_units (unit_id, unit_name) VALUES
(1, 'Retail Banking'),
(2, 'Commercial Lending'),
(3, 'Credit Cards'),
(4, 'Wealth Management');

 * sqlite:///test_capital_project.db
4 rows affected.

[]

In [5]:
%%sql
SELECT * FROM business_units

 * sqlite:///test_capital_project.db
Done.

[(1, 'Retail Banking'),
 (2, 'Commercial Lending'),
 (3, 'Credit Cards'),
 (4, 'Wealth Management')]

In [6]:
%%sql
INSERT INTO balance_sheets (entry_id, unit_id, report_date, assets, liabilities) VALUES
(1, 1, '2023-12-31', 5000000, 4000000),
(2, 2, '2023-12-31', 8000000, 7000000),
(3, 3, '2023-12-31', 6000000, 5500000),
(4, 4, '2023-12-31', 9000000, 7000000),
(5, 1, '2024-06-30', 5100000, 4100000),
(6, 2, '2024-06-30', 8200000, 7100000),
(7, 3, '2024-06-30', 6100000, 5600000),
(8, 4, '2024-06-30', 9100000, 7100000);

 * sqlite:///test_capital_project.db
8 rows affected.

[]

In [7]:
%%sql
SELECT * FROM balance_sheets

 * sqlite:///test_capital_project.db
Done.

[(1, 1, '2023-12-31', 5000000.0, 4000000.0),
 (2, 2, '2023-12-31', 8000000.0, 7000000.0),
 (3, 3, '2023-12-31', 6000000.0, 5500000.0),
 (4, 4, '2023-12-31', 9000000.0, 7000000.0),
 (5, 1, '2024-06-30', 5100000.0, 4100000.0),
 (6, 2, '2024-06-30', 8200000.0, 7100000.0),
 (7, 3, '2024-06-30', 6100000.0, 5600000.0),
 (8, 4, '2024-06-30', 9100000.0, 7100000.0)]

In [8]:
%%sql
INSERT INTO capital_buffers (buffer_id, unit_id, min_capital_ratio) VALUES
(1, 1, 0.10),
(2, 2, 0.12),
(3, 3, 0.08),
(4, 4, 0.11);

 * sqlite:///test_capital_project.db
4 rows affected.

[]

In [9]:
%%sql
SELECT * FROM capital_buffers

 * sqlite:///test_capital_project.db
Done.

[(1, 1, 0.1), (2, 2, 0.12), (3, 3, 0.08), (4, 4, 0.11)]

In [10]:
%%sql
INSERT INTO forecast_assumptions (assumption_id, scenario_name, asset_multiplier, liab_multiplier) VALUES
(1, 'Baseline', 1.00, 1.00),
(2, 'Mild Recession', 0.95, 1.05),
(3, 'Severe Recession', 0.90, 1.10),
(4, 'Expansion', 1.10, 0.95);

 * sqlite:///test_capital_project.db
4 rows affected.

[]

In [11]:
%%sql
SELECT * FROM forecast_assumptions

 * sqlite:///test_capital_project.db
Done.

[(1, 'Baseline', 1.0, 1.0),
 (2, 'Mild Recession', 0.95, 1.05),
 (3, 'Severe Recession', 0.9, 1.1),
 (4, 'Expansion', 1.1, 0.95)]

In [13]:
%%sql
SELECT 
    bu.unit_name,
    bs.report_date,
    bs.assets,
    bs.liabilities,
    cb.min_capital_ratio
FROM balance_sheets bs
INNER JOIN business_units bu
    ON bs.unit_id = bu.unit_id
LEFT JOIN capital_buffers cb
    ON bs.unit_id = cb.unit_id;

 * sqlite:///test_capital_project.db
Done.

[('Retail Banking', '2023-12-31', 5000000.0, 4000000.0, 0.1),
 ('Commercial Lending', '2023-12-31', 8000000.0, 7000000.0, 0.12),
 ('Credit Cards', '2023-12-31', 6000000.0, 5500000.0, 0.08),
 ('Wealth Management', '2023-12-31', 9000000.0, 7000000.0, 0.11),
 ('Retail Banking', '2024-06-30', 5100000.0, 4100000.0, 0.1),
 ('Commercial Lending', '2024-06-30', 8200000.0, 7100000.0, 0.12),
 ('Credit Cards', '2024-06-30', 6100000.0, 5600000.0, 0.08),
 ('Wealth Management', '2024-06-30', 9100000.0, 7100000.0, 0.11)]

In [15]:
%%sql
SELECT
    fa.scenario_name,
    bu.unit_name,
    bs.report_date,
    bs.assets,
    bs.liabilities,
    -- Projected values
    ROUND(bs.assets * fa.asset_multiplier, 2) AS projected_assets,
    ROUND(bs.liabilities * fa.liab_multiplier, 2) AS projected_liabilities
FROM balance_sheets bs
JOIN business_units bu ON bs.unit_id = bu.unit_id
CROSS JOIN forecast_assumptions fa
ORDER BY fa.scenario_name, bu.unit_name, bs.report_date;

 * sqlite:///test_capital_project.db
Done.

[('Baseline', 'Commercial Lending', '2023-12-31', 8000000.0, 7000000.0, 8000000.0, 7000000.0),
 ('Baseline', 'Commercial Lending', '2024-06-30', 8200000.0, 7100000.0, 8200000.0, 7100000.0),
 ('Baseline', 'Credit Cards', '2023-12-31', 6000000.0, 5500000.0, 6000000.0, 5500000.0),
 ('Baseline', 'Credit Cards', '2024-06-30', 6100000.0, 5600000.0, 6100000.0, 5600000.0),
 ('Baseline', 'Retail Banking', '2023-12-31', 5000000.0, 4000000.0, 5000000.0, 4000000.0),
 ('Baseline', 'Retail Banking', '2024-06-30', 5100000.0, 4100000.0, 5100000.0, 4100000.0),
 ('Baseline', 'Wealth Management', '2023-12-31', 9000000.0, 7000000.0, 9000000.0, 7000000.0),
 ('Baseline', 'Wealth Management', '2024-06-30', 9100000.0, 7100000.0, 9100000.0, 7100000.0),
 ('Expansion', 'Commercial Lending', '2023-12-31', 8000000.0, 7000000.0, 8800000.0, 6650000.0),
 ('Expansion', 'Commercial Lending', '2024-06-30', 8200000.0, 7100000.0, 9020000.0, 6745000.0),
 ('Expansion', 'Credit Cards', '2023-12-31', 6000000.0, 5500000.0, 6600000.0, 5225000.0),
 ('Expansion', 'Credit Cards', '2024-06-30', 6100000.0, 5600000.0, 6710000.0, 5320000.0),
 ('Expansion', 'Retail Banking', '2023-12-31', 5000000.0, 4000000.0, 5500000.0, 3800000.0),
 ('Expansion', 'Retail Banking', '2024-06-30', 5100000.0, 4100000.0, 5610000.0, 3895000.0),
 ('Expansion', 'Wealth Management', '2023-12-31', 9000000.0, 7000000.0, 9900000.0, 6650000.0),
 ('Expansion', 'Wealth Management', '2024-06-30', 9100000.0, 7100000.0, 10010000.0, 6745000.0),
 ('Mild Recession', 'Commercial Lending', '2023-12-31', 8000000.0, 7000000.0, 7600000.0, 7350000.0),
 ('Mild Recession', 'Commercial Lending', '2024-06-30', 8200000.0, 7100000.0, 7790000.0, 7455000.0),
 ('Mild Recession', 'Credit Cards', '2023-12-31', 6000000.0, 5500000.0, 5700000.0, 5775000.0),
 ('Mild Recession', 'Credit Cards', '2024-06-30', 6100000.0, 5600000.0, 5795000.0, 5880000.0),
 ('Mild Recession', 'Retail Banking', '2023-12-31', 5000000.0, 4000000.0, 4750000.0, 4200000.0),
 ('Mild Recession', 'Retail Banking', '2024-06-30', 5100000.0, 4100000.0, 4845000.0, 4305000.0),
 ('Mild Recession', 'Wealth Management', '2023-12-31', 9000000.0, 7000000.0, 8550000.0, 7350000.0),
 ('Mild Recession', 'Wealth Management', '2024-06-30', 9100000.0, 7100000.0, 8645000.0, 7455000.0),
 ('Severe Recession', 'Commercial Lending', '2023-12-31', 8000000.0, 7000000.0, 7200000.0, 7700000.0),
 ('Severe Recession', 'Commercial Lending', '2024-06-30', 8200000.0, 7100000.0, 7380000.0, 7810000.0),
 ('Severe Recession', 'Credit Cards', '2023-12-31', 6000000.0, 5500000.0, 5400000.0, 6050000.0),
 ('Severe Recession', 'Credit Cards', '2024-06-30', 6100000.0, 5600000.0, 5490000.0, 6160000.0),
 ('Severe Recession', 'Retail Banking', '2023-12-31', 5000000.0, 4000000.0, 4500000.0, 4400000.0),
 ('Severe Recession', 'Retail Banking', '2024-06-30', 5100000.0, 4100000.0, 4590000.0, 4510000.0),
 ('Severe Recession', 'Wealth Management', '2023-12-31', 9000000.0, 7000000.0, 8100000.0, 7700000.0),
 ('Severe Recession', 'Wealth Management', '2024-06-30', 9100000.0, 7100000.0, 8190000.0, 7810000.0)]

In [19]:
%%sql
CREATE VIEW capital_projection_view AS
SELECT
    fa.scenario_name,
    bu.unit_name,
    bs.report_date,
    ROUND(bs.assets * fa.asset_multiplier, 2) AS projected_assets,
    ROUND(bs.liabilities * fa.liab_multiplier, 2) AS projected_liabilities,
    ROUND(
        (bs.assets * fa.asset_multiplier - bs.liabilities * fa.liab_multiplier)
        / NULLIF(bs.assets * fa.asset_multiplier, 0), 
        4
    ) AS projected_capital_ratio,
    cb.min_capital_ratio,
    CASE
        WHEN (
            (bs.assets * fa.asset_multiplier - bs.liabilities * fa.liab_multiplier)
            / NULLIF(bs.assets * fa.asset_multiplier, 0)
        ) >= cb.min_capital_ratio THEN 'PASS'
        ELSE 'FAIL'
    END AS stress_test_result
FROM balance_sheets bs
JOIN business_units bu ON bs.unit_id = bu.unit_id
JOIN capital_buffers cb ON bs.unit_id = cb.unit_id
CROSS JOIN forecast_assumptions fa
ORDER BY fa.scenario_name, bu.unit_name, bs.report_date;

 * sqlite:///test_capital_project.db
Done.

[]

In [21]:
import pandas as pd

result = %sql SELECT * FROM capital_projection_view
df = result.DataFrame()
df

 * sqlite:///test_capital_project.db
Done.

,scenario_name,unit_name,report_date,projected_assets,projected_liabilities,projected_capital_ratio,min_capital_ratio,stress_test_result
0,Baseline,Commercial Lending,2023-12-31,8000000.0,7000000.0,0.1250,0.12,PASS
1,Baseline,Commercial Lending,2024-06-30,8200000.0,7100000.0,0.1341,0.12,PASS
2,Baseline,Credit Cards,2023-12-31,6000000.0,5500000.0,0.0833,0.08,PASS
3,Baseline,Credit Cards,2024-06-30,6100000.0,5600000.0,0.0820,0.08,PASS
4,Baseline,Retail Banking,2023-12-31,5000000.0,4000000.0,0.2000,0.10,PASS
5,Baseline,Retail Banking,2024-06-30,5100000.0,4100000.0,0.1961,0.10,PASS
6,Baseline,Wealth Management,2023-12-31,9000000.0,7000000.0,0.2222,0.11,PASS
7,Baseline,Wealth Management,2024-06-30,9100000.0,7100000.0,0.2198,0.11,PASS
8,Expansion,Commercial Lending,2023-12-31,8800000.0,6650000.0,0.2443,0.12,PASS
9,Expansion,Commercial Lending,2024-06-30,9020000.0,6745000.0,0.2522,0.12,PASS
10,Expansion,Credit Cards,2023-12-31,6600000.0,5225000.0,0.2083,0.08,PASS
11,Expansion,Credit Cards,2024-06-30,6710000.0,5320000.0,0.2072,0.08,PASS
12,Expansion,Retail Banking,2023-12-31,5500000.0,3800000.0,0.3091,0.10,PASS
13,Expansion,Retail Banking,2024-06-30,5610000.0,3895000.0,0.3057,0.10,PASS
14,Expansion,Wealth Management,2023-12-31,9900000.0,6650000.0,0.3283,0.11,PASS
15,Expansion,Wealth Management,2024-06-30,10010000.0,6745000.0,0.3262,0.11,PASS
16,Mild Recession,Commercial Lending,2023-12-31,7600000.0,7350000.0,0.0329,0.12,FAIL
17,Mild Recession,Commercial Lending,2024-06-30,7790000.0,7455000.0,0.0430,0.12,FAIL
18,Mild Recession,Credit Cards,2023-12-31,5700000.0,5775000.0,-0.0132,0.08,FAIL
19,Mild Recession,Credit Cards,2024-06-30,5795000.0,5880000.0,-0.0147,0.08,FAIL
20,Mild Recession,Retail Banking,2023-12-31,4750000.0,4200000.0,0.1158,0.10,PASS
21,Mild Recession,Retail Banking,2024-06-30,4845000.0,4305000.0,0.1115,0.10,PASS
22,Mild Recession,Wealth Management,2023-12-31,8550000.0,7350000.0,0.1404,0.11,PASS
23,Mild Recession,Wealth Management,2024-06-30,8645000.0,7455000.0,0.1377,0.11,PASS
24,Severe Recession,Commercial Lending,2023-12-31,7200000.0,7700000.0,-0.0694,0.12,FAIL
25,Severe Recession,Commercial Lending,2024-06-30,7380000.0,7810000.0,-0.0583,0.12,FAIL
26,Severe Recession,Credit Cards,2023-12-31,5400000.0,6050000.0,-0.1204,0.08,FAIL
27,Severe Recession,Credit Cards,2024-06-30,5490000.0,6160000.0,-0.1220,0.08,FAIL
28,Severe Recession,Retail Banking,2023-12-31,4500000.0,4400000.0,0.0222,0.10,FAIL
29,Severe Recession,Retail Banking,2024-06-30,4590000.0,4510000.0,0.0174,0.10,FAIL
30,Severe Recession,Wealth Management,2023-12-31,8100000.0,7700000.0,0.0494,0.11,FAIL
31,Severe Recession,Wealth Management,2024-06-30,8190000.0,7810000.0,0.0464,0.11,FAIL