**Basic SQL Reminder Notes**

SELECT *

FROM *

WHERE *

"%" is wildcard for strings

"XOR" for one or other, but not both

ORDER BY [column name] asc/desc (asc/desc can be used after individual columns

ROUND works as we understand
--------

IN for lists Example:
-----
SELECT name FROM bbc
  WHERE name IN ('Sri Lanka', 'Ceylon',
                 'Persia',    'Iran')


**Multiple, indepnedent clauses are possible. Note the parentheses**

SELECT * FROM nobel

  WHERE subject IN ('physics')
  
  AND yr IN (1980)
  
  OR
  
  (subject IN ('chemistry')
  AND yr IN (1984))

ERD - Entity Relationship Diagram

The purpose of this micro-project is to demonstrate basic SQL skills for data analysis within the domain of capital forecasting.

We will create tables for fictional business units with their own balance sheets and minimum capital ratios, then project capital ratios at 4 different level of economic distress.

First, we will run reload_ext sql[format differently] to use sql magic command using the ipython-sql extension. SQLite works well in Jupyter since it is lightweight and serverless, supported by ipython-sql magic, and integrates smoothly with pandas, which we will explain and get to later.

In [198]:
%reload_ext sql
%sql sqlite:///test_capital_project.db

'Connected: @test_capital_project.db'

We will create our tables mentioned above. We will have 4 tables:

### üóÇÔ∏è Table Overview: Financial Stress Testing Scenario

Below is a brief description of each table used in this project, explaining its role in our simplified stress testing model.

---

#### üè¢ `business_units`

**Purpose**:  
This table defines each individual business unit within the organization.  
Each unit has a unique `unit_id` and a descriptive `unit_name`.

**Why it matters**:  
It provides a master list of business units that other tables reference.  
Serves as the anchor for linking financial and regulatory data to specific units.

---

#### üìä `balance_sheets`

**Purpose**:  
Stores the historical (or baseline) balance sheet data for each business unit.  
Includes total `assets` and `liabilities` for a given `report_date`.

**Why it matters**:  
This is the core financial data used to evaluate how business units would perform under economic stress scenarios.  
It forms the basis for projections.

---

#### üìà `forecast_assumptions`

**Purpose**:  
Holds the stress testing assumptions for different economic scenarios.  
Each row contains a `scenario_name` along with `asset_multiplier` and `liab_multiplier`.

**Why it matters**:  
Enables simulation of how financials might change under adverse or severely adverse conditions.  
These multipliers are applied to the baseline balance sheet data.

---

#### üõ°Ô∏è `capital_buffers`

**Purpose**:  
Contains the regulatory minimum capital ratio required for each business unit.  
Each unit has a `min_capital_ratio` associated with it.

**Why it matters**:  
Provides a benchmark to compare against projected capital ratios.  
Used to determine whether a business unit would remain compliant under stress.

---

Since we are in Jupyter Notebooks I don't want to try to create redundant tables in our db file. Working in Jupyter is usually done when you want to break our code into pieces and run multiple lines over and over as you iterate. So, we will drop the tables at the begining of our CREATE TABLE statemnes. Our output should be 8 Done statements, one for each drop, and one for each create.

In [199]:
%%sql

DROP TABLE IF EXISTS balance_sheets;
DROP TABLE IF EXISTS business_units;
DROP TABLE IF EXISTS regulatory_requirements;
DROP TABLE IF EXISTS forecast_assumptions;

CREATE TABLE business_units (
    unit_id INTEGER PRIMARY KEY,
    unit_name TEXT NOT NULL
);

CREATE TABLE balance_sheets (
    bank_id INTEGER,
    unit_id INTEGER,
    report_date,
    risk_weighted_exposure REAL,
    cet1_capital REAL,
    at1_capital REAL,
    tier2_capital REAL,
    FOREIGN KEY (unit_id) REFERENCES business_units(unit_id)
);

CREATE TABLE regulatory_requirements (
    buffer_id INTEGER PRIMARY KEY,
    tier TEXT,
    min_capital_ratio FLOAT NOT NULL
);

CREATE TABLE forecast_assumptions (
    assumption_id INTEGER PRIMARY KEY,
    scenario_name TEXT NOT NULL,
    cet1_multiplier FLOAT NOT NULL,
    at1_multiplier FLOAT NOT NULL,
    tier2_multiplier FLOAT NOT NULL,
    rwa_multiplier FLOAT NOT NULL
);

 * sqlite:///test_capital_project.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## 3. Create Mock Data

We will populate each of our 4 tables with small, realistic sample data. First, our imaginary Business Units.

In [200]:
# Insert data into our business_units table

In [201]:
%%sql
INSERT INTO business_units (unit_id, unit_name) VALUES
(1, 'Retail Banking'),
(2, 'Commercial Lending'),
(3, 'Credit Cards'),
(4, 'Wealth Management');
SELECT * FROM business_units

 * sqlite:///test_capital_project.db
4 rows affected.
Done.

[(1, 'Retail Banking'),
 (2, 'Commercial Lending'),
 (3, 'Credit Cards'),
 (4, 'Wealth Management')]

Second, we will insert Asset and Liability values for two ending periods one End-of-Year and one Mid-Year. When we created our tables we assigned our unit_id columns as foreign keys to match to the primary key of the business_units table.

In [202]:
# Insert data into our balance_sheets table

In [203]:
%%sql

INSERT INTO balance_sheets (bank_id, unit_id, report_date, risk_weighted_exposure, cet1_capital, at1_capital, tier2_capital) VALUES
(1, 1, '2023-12-31', 4000000, 200000, 80000, 120000),
(2, 2, '2023-12-31', 7000000, 290000, 80000, 50000),
(3, 3, '2023-12-31', 5500000, 275000, 110000, 165000),
(4, 4, '2023-12-31', 7500000, 412500, 172500, 225000),
(5, 1, '2024-06-30', 4100000, 209100, 102500, 133400),
(6, 2, '2024-06-30', 7100000, 390500, 170500, 200000),
(7, 3, '2024-06-30', 5600000, 180000, 90000, 100000),
(8, 4, '2024-06-30', 8000000, 440000, 180000, 240000);

SELECT * FROM balance_sheets

 * sqlite:///test_capital_project.db
8 rows affected.
Done.

[(1, 1, '2023-12-31', 4000000.0, 200000.0, 80000.0, 120000.0),
 (2, 2, '2023-12-31', 7000000.0, 290000.0, 80000.0, 50000.0),
 (3, 3, '2023-12-31', 5500000.0, 275000.0, 110000.0, 165000.0),
 (4, 4, '2023-12-31', 7500000.0, 412500.0, 172500.0, 225000.0),
 (5, 1, '2024-06-30', 4100000.0, 209100.0, 102500.0, 133400.0),
 (6, 2, '2024-06-30', 7100000.0, 390500.0, 170500.0, 200000.0),
 (7, 3, '2024-06-30', 5600000.0, 180000.0, 90000.0, 100000.0),
 (8, 4, '2024-06-30', 8000000.0, 440000.0, 180000.0, 240000.0)]

For simplicity and the purpoose of demonstrating SQL skills we kept the values and names straighforward: even numbers and assets and liablities.

In reality

The idea is the same, one numnber needing to be x% larger than another.

Could have done pass fail on each tier individually, or did how many out of 3 meet the crieria for minimum percentages. Heatmap with which ones pass and fail in python?

In [204]:
# Insert data into our regulatory_requirements table

In [205]:
%%sql
INSERT INTO regulatory_requirements (buffer_id, tier, min_capital_ratio) VALUES
(1, 'CET1', 0.045),
(2, 'Tier 1',0.06),
(3, 'Total', 0.08);
SELECT * FROM regulatory_requirements

 * sqlite:///test_capital_project.db
3 rows affected.
Done.

[(1, 'CET1', 0.045), (2, 'Tier 1', 0.06), (3, 'Total', 0.08)]

In [206]:
# Insert data into our forecast_assumptions table

In [207]:
%%sql
INSERT INTO forecast_assumptions (assumption_id, scenario_name, cet1_multiplier, at1_multiplier, tier2_multiplier, rwa_multiplier) VALUES
(1, 'Baseline', 1.00, 1.00, 1.00, 1.00),
(2, 'Mild Recession', 0.98, .097, 0.95, 1.05),
(3, 'Severe Recession', 0.90, 0.85, 0.80, 1.20),
(4, 'Expansion', 1.03, 1.02, 1.01, 1.05);
SELECT * FROM forecast_assumptions

 * sqlite:///test_capital_project.db
4 rows affected.
Done.

[(1, 'Baseline', 1.0, 1.0, 1.0, 1.0),
 (2, 'Mild Recession', 0.98, 0.097, 0.95, 1.05),
 (3, 'Severe Recession', 0.9, 0.85, 0.8, 1.2),
 (4, 'Expansion', 1.03, 1.02, 1.01, 1.05)]

In [208]:
# Create view with total_capital

In [209]:
%%sql
DROP VIEW IF EXISTS total_capital;

CREATE VIEW total_capital AS
SELECT 
    bu.unit_name,
    bs.report_date,
    bs.cet1_capital,
    bs.at1_capital,
    bs.tier2_capital,
    bs.risk_weighted_exposure,
    ROUND(bs.cet1_capital + bs.at1_capital + bs.tier2_capital, 2) AS total_capital
FROM balance_sheets bs
INNER JOIN business_units bu
    ON bs.unit_id = bu.unit_id;
SELECT * FROM total_capital

 * sqlite:///test_capital_project.db
Done.
Done.
Done.

[('Retail Banking', '2023-12-31', 200000.0, 80000.0, 120000.0, 4000000.0, 400000.0),
 ('Commercial Lending', '2023-12-31', 290000.0, 80000.0, 50000.0, 7000000.0, 420000.0),
 ('Credit Cards', '2023-12-31', 275000.0, 110000.0, 165000.0, 5500000.0, 550000.0),
 ('Wealth Management', '2023-12-31', 412500.0, 172500.0, 225000.0, 7500000.0, 810000.0),
 ('Retail Banking', '2024-06-30', 209100.0, 102500.0, 133400.0, 4100000.0, 445000.0),
 ('Commercial Lending', '2024-06-30', 390500.0, 170500.0, 200000.0, 7100000.0, 761000.0),
 ('Credit Cards', '2024-06-30', 180000.0, 90000.0, 100000.0, 5600000.0, 370000.0),
 ('Wealth Management', '2024-06-30', 440000.0, 180000.0, 240000.0, 8000000.0, 860000.0)]

In [210]:
# Showing pass/fail for each tier category

In [223]:
%%sql

WITH capital_data AS (
    SELECT
        unit_name,
        report_date,
        cet1_capital,
        at1_capital,
        tier2_capital,
        risk_weighted_exposure,
        (cet1_capital + at1_capital) AS tier1_capital,
        (cet1_capital + at1_capital + tier2_capital) AS total_capital
    FROM total_capital
),

ratios AS (
    SELECT
        unit_name,
        report_date,
        cet1_capital,
        at1_capital,
        tier2_capital,
        risk_weighted_exposure,
        tier1_capital,
        total_capital,
        ROUND(cet1_capital / risk_weighted_exposure, 4) AS cet1_ratio,
        ROUND(tier1_capital / risk_weighted_exposure, 4) AS tier1_ratio,
        ROUND(total_capital / risk_weighted_exposure, 4) AS total_ratio
    FROM capital_data
),

reg_requirements AS (
    SELECT 
        MAX(CASE WHEN tier = 'CET1' THEN min_capital_ratio END) AS min_cet1,
        MAX(CASE WHEN tier = 'Tier 1' THEN min_capital_ratio END) AS min_tier1,
        MAX(CASE WHEN tier = 'Total' THEN min_capital_ratio END) AS min_total
    FROM regulatory_requirements
)

SELECT
    r.unit_name,
    r.report_date,
    r.cet1_ratio,
    CASE WHEN r.cet1_ratio >= req.min_cet1 THEN 'PASS' ELSE 'FAIL' END AS cet1_pass,
    r.tier1_ratio,
    CASE WHEN r.tier1_ratio >= req.min_tier1 THEN 'PASS' ELSE 'FAIL' END AS tier1_pass,
    r.total_ratio,
    CASE WHEN r.total_ratio >= req.min_total THEN 'PASS' ELSE 'FAIL' END AS total_pass
FROM ratios r
CROSS JOIN reg_requirements req;

 * sqlite:///test_capital_project.db
Done.

[('Retail Banking', '2023-12-31', 0.05, 'PASS', 0.07, 'PASS', 0.1, 'PASS'),
 ('Commercial Lending', '2023-12-31', 0.0414, 'FAIL', 0.0529, 'FAIL', 0.06, 'FAIL'),
 ('Credit Cards', '2023-12-31', 0.05, 'PASS', 0.07, 'PASS', 0.1, 'PASS'),
 ('Wealth Management', '2023-12-31', 0.055, 'PASS', 0.078, 'PASS', 0.108, 'PASS'),
 ('Retail Banking', '2024-06-30', 0.051, 'PASS', 0.076, 'PASS', 0.1085, 'PASS'),
 ('Commercial Lending', '2024-06-30', 0.055, 'PASS', 0.079, 'PASS', 0.1072, 'PASS'),
 ('Credit Cards', '2024-06-30', 0.0321, 'FAIL', 0.0482, 'FAIL', 0.0661, 'FAIL'),
 ('Wealth Management', '2024-06-30', 0.055, 'PASS', 0.0775, 'PASS', 0.1075, 'PASS')]

In [ ]:
# first line cet1 is a fail when it should not be

In [231]:
%%sql

WITH scenario_forecasts AS (
    SELECT 
        fa.scenario_name,
        bs.bank_id,
        bs.unit_id,
        bs.report_date,
        ROUND(bs.cet1_capital * fa.cet1_multiplier, 4) AS forecast_cet1,
        ROUND(bs.at1_capital * fa.at1_multiplier, 4) AS forecast_at1,
        ROUND(bs.tier2_capital * fa.tier2_multiplier, 4) AS forecast_tier2,
        ROUND(bs.risk_weighted_exposure * fa.rwa_multiplier, 4) AS forecast_rwa
    FROM balance_sheets bs
    CROSS JOIN forecast_assumptions fa
),

reg_requirements AS (
    SELECT 
        MAX(CASE WHEN tier = 'CET1' THEN min_capital_ratio END) AS min_cet1,
        MAX(CASE WHEN tier = 'Tier 1' THEN min_capital_ratio END) AS min_tier1,
        MAX(CASE WHEN tier = 'Total' THEN min_capital_ratio END) AS min_total
    FROM regulatory_requirements
)

SELECT 
    bu.unit_name,
    sf.report_date,
    sf.scenario_name,
    sf.forecast_rwa,
    ROUND(sf.forecast_cet1 / sf.forecast_rwa,4) AS forecast_cet1_ratio,
    ROUND((sf.forecast_cet1 + sf.forecast_at1)/sf.forecast_rwa,4) AS forecast_tier1_ratio,
    ROUND((sf.forecast_cet1 + sf.forecast_at1 + sf.forecast_tier2)/sf.forecast_rwa,4) AS forecast_total_ratio,
    ROUND(sf.forecast_cet1 + sf.forecast_at1 + sf.forecast_tier2, 4) AS total_forecast_capital,
    
    CASE WHEN sf.forecast_cet1 >= req.min_cet1 * sf.forecast_rwa THEN 'PASS' ELSE 'FAIL' END AS cet1_status,
    CASE WHEN (sf.forecast_cet1 + sf.forecast_at1) >= req.min_tier1 * sf.forecast_rwa THEN 'PASS' ELSE 'FAIL' END AS tier1_status,
    CASE WHEN sf.forecast_tier2 >= 0.02 * sf.forecast_rwa THEN 'PASS' ELSE 'FAIL' END AS total_status,
    CASE 
        WHEN 
            sf.forecast_cet1 >= 0.045 * sf.forecast_rwa AND
            sf.forecast_at1 >= 0.015 * sf.forecast_rwa AND
            sf.forecast_tier2 >= 0.02 * sf.forecast_rwa
        THEN 'PASS' 
        ELSE 'FAIL' 
    END AS overall_status

FROM scenario_forecasts sf
JOIN business_units bu ON sf.unit_id = bu.unit_id
CROSS JOIN reg_requirements req
ORDER BY unit_name, report_date, scenario_name;

 * sqlite:///test_capital_project.db
Done.

[('Commercial Lending', '2023-12-31', 'Baseline', 7000000.0, 0.0414, 0.0529, 0.06, 420000.0, 'FAIL', 'FAIL', 'FAIL', 'FAIL'),
 ('Commercial Lending', '2023-12-31', 'Expansion', 7350000.0, 0.0406, 0.0517, 0.0586, 430800.0, 'FAIL', 'FAIL', 'FAIL', 'FAIL'),
 ('Commercial Lending', '2023-12-31', 'Mild Recession', 7350000.0, 0.0387, 0.0397, 0.0462, 339460.0, 'FAIL', 'FAIL', 'FAIL', 'FAIL'),
 ('Commercial Lending', '2023-12-31', 'Severe Recession', 8400000.0, 0.0311, 0.0392, 0.0439, 369000.0, 'FAIL', 'FAIL', 'FAIL', 'FAIL'),
 ('Commercial Lending', '2024-06-30', 'Baseline', 7100000.0, 0.055, 0.079, 0.1072, 761000.0, 'PASS', 'PASS', 'PASS', 'PASS'),
 ('Commercial Lending', '2024-06-30', 'Expansion', 7455000.0, 0.054, 0.0773, 0.1044, 778125.0, 'PASS', 'PASS', 'PASS', 'PASS'),
 ('Commercial Lending', '2024-06-30', 'Mild Recession', 7455000.0, 0.0513, 0.0536, 0.079, 589228.5, 'PASS', 'FAIL', 'PASS', 'FAIL'),
 ('Commercial Lending', '2024-06-30', 'Severe Recession', 8520000.0, 0.0413, 0.0583, 0.077, 656375.0, 'FAIL', 'FAIL', 'FAIL', 'FAIL'),
 ('Credit Cards', '2023-12-31', 'Baseline', 5500000.0, 0.05, 0.07, 0.1, 550000.0, 'PASS', 'PASS', 'PASS', 'PASS'),
 ('Credit Cards', '2023-12-31', 'Expansion', 5775000.0, 0.049, 0.0685, 0.0973, 562100.0, 'PASS', 'PASS', 'PASS', 'PASS'),
 ('Credit Cards', '2023-12-31', 'Mild Recession', 5775000.0, 0.0467, 0.0485, 0.0757, 436920.0, 'PASS', 'FAIL', 'PASS', 'FAIL'),
 ('Credit Cards', '2023-12-31', 'Severe Recession', 6600000.0, 0.0375, 0.0517, 0.0717, 473000.0, 'FAIL', 'FAIL', 'PASS', 'FAIL'),
 ('Credit Cards', '2024-06-30', 'Baseline', 5600000.0, 0.0321, 0.0482, 0.0661, 370000.0, 'FAIL', 'FAIL', 'FAIL', 'FAIL'),
 ('Credit Cards', '2024-06-30', 'Expansion', 5880000.0, 0.0315, 0.0471, 0.0643, 378200.0, 'FAIL', 'FAIL', 'FAIL', 'FAIL'),
 ('Credit Cards', '2024-06-30', 'Mild Recession', 5880000.0, 0.03, 0.0315, 0.0476, 280130.0, 'FAIL', 'FAIL', 'FAIL', 'FAIL'),
 ('Credit Cards', '2024-06-30', 'Severe Recession', 6720000.0, 0.0241, 0.0355, 0.0474, 318500.0, 'FAIL', 'FAIL', 'FAIL', 'FAIL'),
 ('Retail Banking', '2023-12-31', 'Baseline', 4000000.0, 0.05, 0.07, 0.1, 400000.0, 'PASS', 'PASS', 'PASS', 'PASS'),
 ('Retail Banking', '2023-12-31', 'Expansion', 4200000.0, 0.049, 0.0685, 0.0973, 408800.0, 'PASS', 'PASS', 'PASS', 'PASS'),
 ('Retail Banking', '2023-12-31', 'Mild Recession', 4200000.0, 0.0467, 0.0485, 0.0757, 317760.0, 'PASS', 'FAIL', 'PASS', 'FAIL'),
 ('Retail Banking', '2023-12-31', 'Severe Recession', 4800000.0, 0.0375, 0.0517, 0.0717, 344000.0, 'FAIL', 'FAIL', 'PASS', 'FAIL'),
 ('Retail Banking', '2024-06-30', 'Baseline', 4100000.0, 0.051, 0.076, 0.1085, 445000.0, 'PASS', 'PASS', 'PASS', 'PASS'),
 ('Retail Banking', '2024-06-30', 'Expansion', 4305000.0, 0.05, 0.0743, 0.1056, 454657.0, 'PASS', 'PASS', 'PASS', 'PASS'),
 ('Retail Banking', '2024-06-30', 'Mild Recession', 4305000.0, 0.0476, 0.0499, 0.0793, 341590.5, 'PASS', 'FAIL', 'PASS', 'FAIL'),
 ('Retail Banking', '2024-06-30', 'Severe Recession', 4920000.0, 0.0382, 0.056, 0.0776, 382035.0, 'FAIL', 'FAIL', 'PASS', 'FAIL'),
 ('Wealth Management', '2023-12-31', 'Baseline', 7500000.0, 0.055, 0.078, 0.108, 810000.0, 'PASS', 'PASS', 'PASS', 'PASS'),
 ('Wealth Management', '2023-12-31', 'Expansion', 7875000.0, 0.054, 0.0763, 0.1052, 828075.0, 'PASS', 'PASS', 'PASS', 'PASS'),
 ('Wealth Management', '2023-12-31', 'Mild Recession', 7875000.0, 0.0513, 0.0535, 0.0806, 634732.5, 'PASS', 'FAIL', 'PASS', 'FAIL'),
 ('Wealth Management', '2023-12-31', 'Severe Recession', 9000000.0, 0.0413, 0.0575, 0.0775, 697875.0, 'FAIL', 'FAIL', 'PASS', 'FAIL'),
 ('Wealth Management', '2024-06-30', 'Baseline', 8000000.0, 0.055, 0.0775, 0.1075, 860000.0, 'PASS', 'PASS', 'PASS', 'PASS'),
 ('Wealth Management', '2024-06-30', 'Expansion', 8400000.0, 0.054, 0.0758, 0.1047, 879200.0, 'PASS', 'PASS', 'PASS', 'PASS'),
 ('Wealth Management', '2024-06-30', 'Mild Recession', 8400000.0, 0.0513, 0.0534, 0.0806, 676660.0, 'PASS', 'FAIL', 'PASS', 'FAIL'),
 ('Wealth Management', '2024-06-30', 'Severe Recession', 9600000.0, 0.0413, 0.0572, 0.0772, 741000.0, 'FAIL', 'FAIL', 'PASS', 'FAIL')]

## 4.Build our Queries

Now we have joined the tables for each of our 4 business units for the end of year and mid-year data, as well as the our made up minimum capital ratios.

Next we will CROSS JOIN our forecast data, since having a foreign key for that table would not make sense. This will lead to a record for each business unit, report date, and economic scenario. We will also include a stress_test_result column to easily identify where our winners and losers are in each scenario.

Our output will be our new table:

In [ ]:
# Link ratio for tiers to query that each passes

In [ ]:
import pandas as pd

result = %sql SELECT * FROM capital_projection_view
df = result.DataFrame()
df

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Set seaborn style
sns.set(style="whitegrid")

# Plot projected capital ratios for each unit under different scenarios
plt.figure(figsize=(10, 6))
sns.barplot(
    data=df,
    x='unit_name',
    y='projected_capital_ratio',
    hue='scenario_name'
)
plt.axhline(0.08, color='red', linestyle='--', label='Target Ratio (8%)')  # Basel III min benchmark
plt.title('Projected Capital Ratios by Unit and Scenario')
plt.ylabel('Capital Ratio')
plt.xlabel('Business Unit')
plt.legend()
plt.tight_layout()
plt.show()

While none of our departments meet our Target Ratio in the case of a Severe Recession, Retail Banking and Wealth Managemnet remain resilient in every other circumstance. Next, in ascending order of fragility, is Commercial Lending and Credit Cards; with Credit Cards even dipping into having net negative assets in even a mild recession.

In [ ]:
# Heatmap for which tiers in which department don't pass muster